<div class="modal fade" id="jobCreateModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">Close</button>
				<h3>Create New Quartz Job</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Job Name</label> <input v-model="name" class="form-control"
						id="jobName" placeholder="Enter Job Name">
				</div>
				<div class="form-group">
					<label>Job Group</label> <input v-model="group"
						class="form-control" id="jobGroup" placeholder="Enter Job Group">
				</div>
				<div class="form-group">
					<label>Job Class</label> <input v-model="jobClass"
						class="form-control" id="jobClass" placeholder="Enter Job Class">
				</div>
				<div class="form-group">
					<label>Job Description</label> <input v-model="description"
						class="form-control" id="jobDesc"
						placeholder="Enter Job Description">
				</div>
				<div class="form-group">
					<label class="checkbox-inline"> <input type="checkbox"
						id="jobRecover"> Recover
					</label>
				</div>

				<div class="form-group">
					<table class="table table-bordered table-striped responsive">
						<thead>
							<tr>
								<th>Key</th>
								<th>Value</th>
								<th><a class="btn btn-success" @click="addJobParam"
									href="#">Add </a></th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(jobData,index) in jobDataMap">
								<td><input class="form-control" id="key"
									placeholder="Enter Key" v-model='jobData.key'></td>
								<td><input class="form-control" id="value"
									placeholder="Enter Value" v-model='jobData.value'></td>
								<td><a class="btn btn-danger" href="#" @click="delParam(index)"> <i
										class="glyphicon glyphicon-trash icon-white"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-default" data-dismiss="modal">Close</a> <a
					href="#" class="btn btn-primary btn-job-submmit"
					data-dismiss="modal" @click="saveJobDefine">Submmit</a>
			</div>
		</div>
	</div>
</div>