<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="common/header"></th:block>
</head>
<body>
	<th:block th:include="common/navbar"></th:block>

	<div class="ch-container">
		<div class="row">
			<th:block th:include="common/leftmenu"></th:block>
			<div id="content" class="col-lg-10 col-sm-10">
				<!-- content starts -->
				<div>
					<ul class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li><a href="#">Dashboard</a></li>
					</ul>
				</div>
				<!-- content ends -->
			</div>
			<!--/#content.col-md-0-->
		</div>
		<!--/fluid-row-->
	</div>
	<th:block th:include="common/footer"></th:block>
</body>
</html>
